body {
	background-color: black;
	color: #f1f1f1;
	font-family: Arial;
	font-weight: bold;
}

.upper {
	position: fixed;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 0.5em;
}

.content {
	position: fixed;
	bottom: 0;
	left: -20px;
	width: 100%;
	padding: 20px;
	text-align: center;
}
#content {
	background: rgba(0, 0, 0, 0.5);
}
#content2 {
	position: fixed;
	bottom: 4px;
	margin-left: 20%;
}

button {
	font-size: 1em;
	padding: .4em;
	margin: 2px;
	border-radius: 8px;
	background-color: silver;
	/*border-color: #ccffff;
	background-color: #ccffff;
	Color: white;*/
	font-weight: bold;
}

input {
	font-size: 1em;
	border-radius: 8px;
}

/***********************/

table {
	width: 99%;
}

table, th, td {
	text-align: center;
}

.addInput {
	width: 96%;
}
#addButton {
	width: 98%;
	height: 4em;
}

.infoTable {
	border-collapse: collapse;
}
.infoTable, .infoTh, .infoTd {
	border: 2px solid white;
}
#infoTd, p {
	font-size: 1em;
}

/************************/

#maxAmount, #currentAmount {
	border: 2px solid white;
	border-radius: 4px;
	padding: 1px;
	background-color: white;
	Color: black;
}

#upperText {
	font-size: 2em;
	text-align: center;
}
#upperInfo {
	font-size: 1.5em;
}
#upperTable {
	width: 100%;
}

#maxAmount, #currentAmount {
	font-size: 1.2em;
}

#addIcon {
	font-size: 3em;
}

/************************/

/************************/

/*
Colors:
Yellow - #fff5b3
Green - #ccffcc
Blue - #ccffff
*/



