.content {
    position: fixed;
    bottom: 0;
	right: -30px;
    background: rgba(0, 0, 0, 0.5);
	font-size: 16px;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

table {
	width: 100%;
}
td {
	width: 33%;
}